.banner-guide-board {
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  background-size: cover;
  background-position: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #272822;
  font-size: 35px;
  font-weight: 900;
  position: relative;
  text-align: center;
}

@media(max-width:34em){.banner-guide-board {font-size: 20px;}}

.banner-guide-board p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.blogueur-stamp {
  text-align: center;
  z-index: 2;
}

.stylestamp{
  height: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nextguide{
  position: absolute;
  right: 10px;
  bottom: 5%;
  display: flex;
  top: 5%;
  align-items: center;
}

.nextguide a {
  color: white;
  font-size: 22px;
}

.previousguide {
  position: absolute;
  left: 10px;
  bottom: 5%;
  display: flex;
  top: 5%;
  align-items: center;
  text-transform: none;
}

.previousguide .list-inline a {
  color: white;
  text-decoration: none;
}

.previousguide .list-inline h4 a {
  font-size: 14px;
}

.previousguide a {
  color: white;
  font-size: 22px;
}

.collection_radio_buttons {
  padding-left: 5px;
  padding-right: 5px;
}

.create-guide {
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.form-group input[type=file] {
  opacity: 1 !important;
}

.radio input[type=radio] {
  opacity: 1 !important;
  height: 50%;
  width: 50%;
}

.tooltip{
  width:350px !important;
  text-align: right;
}


.guide_photo{
  text-align: left;
}

.form-group {
  text-align: left;
}

.form-group.radio_buttons.optional.guide_privacy{
  text-align: left;
}

.form-group label.control-label {
  color: #333333;
  padding-top: 5px;
}

.form-group .checkbox label, .form-group .radio label, .form-group label{
  color: #333333;
  font-size: 12px;
}

#createg {
  margin-top: 32px;
  height: 50px;
  background-color: #25AA99;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
.btn:visited, .btn:hover, .btn:focus, .btn:active {
  outline: none !important;
}

#new-card-button {
  height: 35px;
  background-color: #25AA99;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
}

.list-inline a {
  color: #272822;
  text-decoration: none;
  &:hover {
  color: #25AA99;
  }
}

.friend-filter a {
  color: #272822;
  text-decoration: none;
  &:hover {
  color: #25AA99;
  }
}
