<div class="banner-user" style="background-image: url(<%= image_path 'banner-profile.jpg' %>)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2 class="text-center"><%= current_user.first_name %>, create a card from a place you want to collect</h2>
      </div>
    </div>
  </div>
</div>
