<% current_user.guides.each do |guide| %>
  <div class="col-xs-12 col-md-4">
    <div class="border">
        <ul>
          <li>
          <p><%= link_to guide.name, guide_path(guide) %></p>
          <p><%= guide.description %></p>
          </li>
        </ul>
      <%= link_to 'update', edit_guide_path(guide) %> | <%= link_to 'Delete', guide, method: :delete %>
    </div>
  </div>
<% end %>
