<div class="newletter">
<h3 class="hidden-xs">Subscribe our newsletters</h3>
<form class="news">
    <label for="email"><i class="fa fa-envelope"></i></label>
    <input type="email" id="newsq" value="" placeholder="Enter your email address"/>
    <input type="submit" id="newsb" value="SUBSCRIBE" />

</form>

</div>
<div class="footer">
  <div class="logof" style="background-image: url('<%= image_path 'Logowhite.png' %>')"></div>
  <div class="menum">
    <p>Home</p>
    <p>About Us</p>
    <p>Policy</p>
    <p>The Team</p>
  </div>
  <div class="menuf">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-pinterest" aria-hidden="true"></i>
  </div>
</div>
