<!-- Modal Create guide -->

<div class="modal fade" id="guideModal" tabindex="-1" role="dialog" aria-labelledby="guideModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" style="text-align:center;" >Create your guideboard</h4>
    </div>
      <div class="modal-body">
        <%= render 'guides/form' %>
      </div>
    </div>
  </div>
</div>
