<!-- Modal Create guide -->

<div class="modal fade" id="guideModal" tabindex="-1" role="dialog" aria-labelledby="guideModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Create your guideboard</h4>
    </div>
      <div class="modal-body">
        <%= render 'guides/form' %>
      </div>
    </div>
  </div>
</div>


