<div class=container>
<div class="main">
  <h4 class="text-center"><b>CONDITIONS GÉNÉRALES D'UTILISATION</b></h1>
  <p><b>Objet</b></p>
  <p>L’accès à l’application TAKE AWAY TRIPS (ci-après, l’« Application »), la navigation sur celle-ci, et l’utilisation des services fournis par TAKE AWAY LAB SAS sont régies par les conditions générales d’utilisation (« CGU ») détaillées ci-dessous.</p>
  <p>L'Application est la propriété exclusive de Take Away Lab SAS au capital de 10 000 €, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro SIREN 818 819 674, et dont le siège social est situé au 41, rue des Martyrs, 75009 Paris. </p>
  <p>Conformément à la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous vous informons que l’application web Take Away Trips, ainsi que le site internet www.takeawaytrips.com sont la propriété de Take Away Lab SAS.</p>
  <p>Directeur de la publication : Paul CHAVINIER</p>
  <p>Contact : hello@takeawaytrips.com</p>
  <br>
  <p><b>Préambule</b></p>
  <p>Tout utilisateur de l'Application reconnaît avoir pris connaissance des présentes CGU et les accepter. L’utilisation de l'Application vaut acceptation sans réserve des CGU. En cas de désaccord avec tout ou partie des CGU, vous devez immédiatement vous abstenir d’utiliser l'Application. Take Away Lab SAS se réserve le droit de modifier à tout moment et sans préavis les termes des CGU. Les modifications entrent en vigueur immédiatement après la publication des conditions modifiées sur l'Application.</p>
  <br>
  <p><b>Définitions</b></p>
  <p><b>Application</b>: désigne l'application web Take Away Trips répondant à l'url www.takeawaytrips.com éditée et exploitée par Take Away Lab SAS.</p>
  <p><b>CGU</b>: désigne les présentes conditions générales d’utilisation de l'Application.</p>
  <p><b>Contenu Utilisateur</b>: désigne les données sauvegardées par l'Utilisateur dans l’Application.</p>
  <p><b>Données de navigation </b>: désigne les informations liées à la connexion de votre terminal à l’Application. Nous sommes susceptibles d’utiliser ces données de navigation à des fins statistiques.</p>
  <p><b>Données personnelles </b>: désigne les informations liées aux Utilisateurs. Il peut s’agir de l’historique d’utilisation des Services par l’Utilisateur, son nom, son prénom et sa liste d’amis.</p>
  <p><b>Guide</b>: recueil d’adresses collectées par l’Utilisateur manuellement ou récupérée depuis les guides d’autres Utilisateurs ou Partenaires.</p>
  <p><b>Partenaires</b>: désigne l’ensemble des sites e-commerce ou sociétés informatiques avec lesquels Take Away Lab possède un contrat de partenariat direct ou indirect.</p>
  <p><b>Services</b>: désigne l’ensemble des services, payants ou gratuits, accessibles aux Utilisateurs via la plateforme www.takeawaytrips.com</p>
  <p><b>Utilisateur(s)</b>: désigne une (ou l’ensemble des) personne(s) inscrite sur l'Application.</p>
  <p><b>Take Away Lab SAS</b>: désigne la SAS au capital de 10 000 euros qui édite l'Application.</p>
  <br>
  <p><b>Disponibilité et accès à www.takeawaytrips.com</b></p>
  <p>Les services proposés par Take Away Lab SAS via l'Application comprennent, entre autres :
    <ul>
      <li>l’ajout et la sauvegarde d’adresses géolocalisées dans des guides personnalisés</li>
      <li>l’ajout et la sauvegarde d’adresses géolocalisées dans des guides personnalisés</li>
      <li>la consultation de guides réalisés par des amis, des experts locaux ou des blogueurs partenaires</li>
      <li>l’identification d’une adresse par son nom, son adresse, et ses coordonnées</li>
      <li>le partage de ses adresses selon un mode public, privé, ou auprès de ses amis d’après les préférences de l’Utilisateur.</li>
    </ul>
  </p>
  <p>Les Services sont accessibles gratuitement à tout Utilisateur disposant d'un accès à Internet. Tous les coûts afférents à l'accès aux Services, que ce soient les frais matériels, logiciels ou d'accès à internet sont exclusivement à la charge de l'utilisateur. Il est seul responsable du bon fonctionnement de son équipement informatique ainsi que de son accès à internet.</p>
  <p>Take Away Lab SAS se réserve le droit de refuser l'accès aux Services, unilatéralement et sans notification préalable, à tout Utilisateur ne respectant pas les présentes conditions d'utilisation. Take Away Lab SAS n’aura aucune obligation de conserver les informations stockées dans sa base de données et relative au compte de l’Utlisateur ou de transmettre ces informations à l’Utilisateur ou à un tiers.</p>
  <p>Take Away Lab SAS met en œuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité aux Services, mais ne peut, être tenue responsable de tout dysfonctionnement du réseau ou des serveurs qui empêcherait ou dégraderait l'accès aux Services.</p>
  <p>Take Away Lab SAS se réserve la possibilité d'interrompre, de suspendre momentanément ou de modifier sans préavis l'accès à tout ou partie des Services, afin d'en assurer la maintenance, ou pour toute autre raison, sans que l'interruption n'ouvre droit à aucune obligation ni indemnisation.</p>
  <br>
  <p><b>Cadre de responsabilité</b></p>
  <p>L’Utilisateur reconnaît avoir pris connaissance et accepté ces conditions, ainsi que de disposer des compétences pour naviguer sur l’Application.</p>
  <p>L'Utilisateur est seul responsable du Contenu Utilisateur qu'il met en ligne via les Services, ainsi que des textes et avis qu'il formule. L’Utilisateur s’engage expressément et sous sa seule responsabilité à ne pas utiliser les Services à des fins pornographiques, pédophiles, racistes et plus généralement portant atteinte de quelque façon que ce soit aux droits de tiers. A ce titre, il garantit Take Away Lab SAS contre tous recours, fondés directement ou indirectement sur ces propos et/ou données, susceptibles d'être intentés par quiconque à l'encontre de Take Away Lab SAS. Il s'engage en particulier à prendre en charge le paiement des sommes, quelles qu'elles soient, résultant du recours d'un tiers à l'encontre de Take Away Lab SAS, y compris les honoraires d'avocat et frais de justice.</p>
  <p>L’Utilisateur déclare disposer de l’intégralité des droits sur les photographies et les textes qu’il intègre dans ses guides et s'assurera du consentement des tiers photographiés.</p>
  <p>Take Away Lab SAS se réserve le droit de supprimer tout ou partie du Contenu Utilisateur, à tout moment et pour quelque raison que ce soit, sans avertissement ou justification préalable. L'Utilisateur ne pourra faire valoir aucune réclamation à ce titre.
  Take Away Lab SAS se réserve le droit d’exclure un Utilisateur si son comportement sur L'application n’est pas approprié. Take Away Lab SAS se réserve aussi le droit d’accéder, de lire, de conserver ou divulguer toute information considéré comme nécessaire afin de satisfaire à toute loi, réglementation, processus légal ou demande gouvernementale dans le but de faire respecter les présentes conditions.</p>
  <p>L'Application fournit certaines informations sur les adresses, provenant de sources réputées fiables. Toutefois, Take Away Lab SAS ne peut garantir l'exactitude ou la pertinence de ces données. </p>
  <p>Take Away Lab SAS ne peut être tenu responsable des litiges entre les utilisateurs des Services et les Partenaires.</p>
  <p>Les informations disponibles sur l'application sont susceptibles d’être modifiées à tout moment, et peuvent avoir fait l’objet de mises à jour. En conséquence, l'utilisation des informations et contenus disponibles sur l'ensemble de l'Application, ne sauraient en aucun cas engager la responsabilité de Take Away Lab SAS, à quelque titre que ce soit. L'Utilisateur est responsable de la bonne utilisation du contenu présent sur l’Application.</p>
  <p>Par ailleurs, l'Utilisateur s'engage à indemniser Take Away Lab SAS de toutes conséquences dommageables liées directement ou indirectement à l'usage qu'il fait du Service.</p>
  <p>Take Away Lab SAS s'engage à mettre en place tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données transmises.</p>
  <p>L'Utilisateur admet connaître les limitations et contraintes propres au réseau internet et, à ce titre, reconnaît notamment l'impossibilité d'une garantie totale de la sécurisation des échanges de données. Take Away Lab SAS ne pourra pas être tenue responsable des préjudices découlant de la transmission de toute information, y compris de celle de son identifiant et/ou de son mot de passe, via le Service.</p>
  <br>
  <p><b>Données personnelles et confidentialité</b></p>
  <p>Take Away Lab SAS se réserve le droit de collecter différentes données nominatives et non nominatives, notamment par le biais de collecte de cookies, dans une démarche d’amélioration de l’expérience client et de l’ergonomie sur L'application et les Services, d’analyses statistiques et de personnalisation des Services.</p>
  <p>Take Away Lab SAS pourra être amené à communiquer les informations utilisateur de façon anonyme dans une démarche de location / vente / mise à disposition de base de données après accord préalable avec l’utilisateur.</p>
  <p>L'application peut également inclure des publicités et des offres ciblées. Les types et l'étendue de la publicité sont sujets à changement. En contrepartie du fait que Take Away Lab SAS donne accès à l'utilisation de ses Services, l’Utilisateur accepte que Take Away Lab SAS, ou ses tiers fournisseurs et partenaires, puissent placer de la publicité sur L'application.</p>
  <br>
  <p><b>Droit d'auteur et propriété intellectuelle</b></p>
  <p>L’Application « Take Away Trips », son adresse www.takeawaytrips.com et son logo sont des marques déposées protégées par les dispositions légales applicables aux droits sur la propriété intellectuelle.
  Toute reproduction, même partielle du site www.takeawaytrips.com est interdite. Les modèles, dessins, logos, objets et images proposés par le site www.takeawaytrips.com sont la propriété de Take Away Lab SAS et sont protégés par le droit de la propriété intellectuelle.
  L’utilisateur reconnaît que l'utilisation qu'il peut faire des guides personnalisés est strictement limitée à un usage privé.
  La reproduction, la commercialisation, la diffusion et l'édition des guides personnalisés sont rigoureusement interdits et sont susceptibles de constituer des actes de contrefaçons passibles de sanctions pénales et civiles.
  </p>
  <p>L'application et l’ensemble de son contenu relèvent de la législation française et internationale en matière de droit d’auteur et de propriété intellectuelle. La structure générale de l'Application, ainsi que les textes, graphiques et images la composant, sont la propriété de Take Away Lab SAS. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par l'Application, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de Take Away Lab SAS est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.</p>
  <p>L'Utilisateur reconnait qu'il ne détient aucun droit de propriété intellectuelle sur le contenu (textes, graphiques, images, importés sur l'Application) qu'il édite et permet à Take Away Lab SAS d'utiliser ce contenu en tout ou partie en vue de le rendre accessible sur tout support aux autres Utilisateurs et tiers sauf s'il a spécifiquement refusé cette utilisation dans le cadre des règles de confidentialité accessible pour chaque Guide.</p>
  <br>
  <p><b>Liens hypertextes</b></p>
  <p>Take Away Trips propose des liens hypertextes vers des sites web édités et/ou gérés par des tiers.
  Dans la mesure où aucun contrôle n'est exercé sur ces ressources externes, l'Utilisateur reconnaît que Take Away Lab SAS n'assume aucune responsabilité relative à la mise à disposition de ces ressources, et ne peut être tenue responsable quant à leur contenu.
  </p>
  <br>
  <p><b>Droit applicable et juridiction compétente</b></p>
  <p>Les règles en matière de droit, applicables aux contenus et aux transmissions de données sur et autour du site, sont déterminées par la loi française. En cas de litige, n'ayant pu faire l'objet d'un accord à l'amiable, seuls les tribunaux français du ressort de la cour d'appel de Paris sont compétents.</p>
  <p>Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous contacter par email à hello@takeawaytrips.com</p>

</div>
</div>

