<div class=supreme-container>
<div class="main">
  <div class="homepage-hero-module">
      <div class="video-container" style="background-image: url(<%= image_path 'city_night.jpg' %>)">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
          <div class="home-logo text-center">
            <%= image_tag "Logowhite.png" %>
            <div id="changethewords" style="color:white">
              <h2>Create your guideboards and<h2>
              <h2><b>
              <span data-id="1">Travel the world</span>
              <span data-id="2">(Re)discover your city</span>
              <span data-id="3">Share your best spots with your friends</span>
              <span data-id="4">Keep your memories alive</span>
              <span data-id="5">Plan your next week end in London</span>
              <span data-id="6">Eat icecreams in Vladivostok</span>
              <span data-id="7">Become a caïpirinha expert in Brazil</span>
              <span data-id="8">Be yourself</span>
              <span data-id="9">Learn to dance the cha cha cha</span>
              <span data-id="10">How long can you read these messages ?</span>
              <span data-id="11">We still have hundreds of cool suggestions</span>
              <span data-id="12">Why don't you create a guide now ? </span>
              <span data-id="13">You won't regret buddy</span>
              <span data-id="14">You look awesome today</span>
              <span data-id="15">Ok let's start !</span>
              </b></h2>
            </div>
            <button type="button" class="homecreate" data-toggle="modal" data-target="<%= user_signed_in? ? "#guideModal" : "#modalsignup"
 %>">
               Get Started
            </button>
            </div>
      </div>

  </div>
</div>
<!-- <div class="bannercollect"></div> -->
<!-- <div class="bannerdiscover"></div>
<div class="bannershare"></div> -->

</div>

<%= render 'shared/modal' %>


<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjxOsy8vrEh0TCr5XjPV_T4-V7rE3Zq_8">

</script>

<% content_for(:after_js) do %>
<script>
  $(document).on('ready', function() {
      $("#changethewords").changeWords({
        time: 3000,
        animate: "fadeInUp",
        selector: "span"
      });
    });
</script>
<%end%>
