<div class=supreme-container>
<div class="main">
      <div class="homepage-hero-module">

        <div class="video-container" style="background-image: url(<%= image_path 'city_night.jpg' %>)">
            <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
              <div class="home-logo text-center">
                  <%= image_tag "Logowhite2.png" %>
              <div id="changethewords" style="color:white">
                <h2><b>Créez vos guides de voyages et</b><h2>
                <h2>
                <span data-id="1">Parcourez le monde</span>
                <span data-id="2">Faites découvrir votre ville à vos hôtes</span>
                <span data-id="3">Partagez vos bons plans</span>
                <span data-id="4">Gardez vos souvenirs intacts</span>
                <span data-id="5">Préparez votre prochain voyage à Berlin</span>
                <span data-id="6">Ou à Zanzibar</span>
                <span data-id="7">Ou à Dunkerque</span>
                <span data-id="8">Préparez, découvrez, partagez, et surtout</span>
                <span data-id="9">Soyez vous-même</span>
                <span data-id="10">Combien de temps lirez-vous ces messages ?</span>
                <span data-id="11">Nous avons encore plein de suggestions</span>
                <span data-id="12">Mais pourquoi-pas créer un guide dès maintenant ?</span>
                <span data-id="13">Il faut juste cliquer sur le gros bouton dessous</span>
                <span data-id="14">T'as prévu un truc ce soir?</span>
                <span data-id="15">Ok let's start !</span>
                </h2>
            </div>
            <button type="button" class="homecreate" data-toggle="modal" data-target="<%= user_signed_in? ? "#guideModal" : "#modalsignup"
 %>">
               Créer un guide
            </button>
            </div>

    </div>
  </div>
</div>
<!-- <div class="bannercollect"></div> -->
<!-- <div class="bannerdiscover"></div>
<div class="bannershare"></div> -->

</div>

<%= render 'shared/modal' %>


<!-- Include Google Maps JS API -->
<!-- <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjxOsy8vrEh0TCr5XjPV_T4-V7rE3Zq_8">

</script> -->

<% content_for(:after_js) do %>
<script>
  $(document).on('ready', function() {
      $("#changethewords").changeWords({
        time: 3000,
        animate: "fadeInUp",
        selector: "span"
      });
    });
</script>
<%end%>
