<div class="main">
  <div class="homepage-hero-module">
      <div class="video-container">
          <div class="home-logo text-center">
            <%= image_tag "Logowhite.png" %> <br>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
               Create my guide board
            </button>
            </div>

          <video autoplay loop class="fillWidth">
              <source src="http://res.cloudinary.com/constantdesfosse/video/upload/ac_none/v1464025377/NEW_YORK_PEOPLE_SLOW_MOTION_online-video-cutter.com_iramws.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
          <div class="poster hidden">
              <img src="PATH_TO_JPEG" alt="">
          </div>
      </div>
  </div>
</div>


<%= render 'shared/modal' %>


<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjxOsy8vrEh0TCr5XjPV_T4-V7rE3Zq_8">
</script>
