<style>
    html, body { height: 100%; margin: 0; padding: 0; }
    #map { height: 50%; }
</style>
<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
<div id="map"></div>



<script  type="text/javascript" src="autocomplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjxOsy8vrEh0TCr5XjPV_T4-V7rE3Zq_8&signed_in=true&libraries=places&callback=initMap" async defer></script>
