.modal-body {
  border-radius: 7px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 300px;
  margin: 0 auto;
  // @media(max-width: 992px) {
  //   margin: 0 20%;
  // }
  // @media(max-width: 530px) {
  //   margin: 0 10%;
  // }
  // @media(max-width: 768px) {
  //   margin: 0 auto;
  // }
  border: solid 5px;
  border-color: white;
  padding: 3px;
  flex-direction: column;
}

.modallogo {
  height: 50vh;
  background-size: cover;
  background-position: center top;
}
.modallogo img {
  z-index: 10;
  width: 287px;
  margin-top: 1%;
}

.modallogo i {
  font-size: 200px;
  color: white;
}

.modal-sm {
  width: 300px;
  @media(max-width: 992px) {
    width: auto;
  }
}

.header {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.infoconnect {
  width: 100%;
  height: 30%;
  padding-top: 10px;
}
.infoconnect p {
  font-size: 10px;
  color: #B3B3B3;
  margin-bottom: 0px;
  padding-top: 5px;
}

.buttonfb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white !important;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3b5998;
  width: 80%;
  transition: 1s;
  font-size: 13px;
}

.buttonfb:hover {
  background-color: #293f6d !important;
}
.buttonfb:focus {
  background-color: #293f6d !important;
}

.buttonfb i {
  color: white;
  font-size: 25px;
  margin-right: 5px
}

#modalsignup {
 margin-top: 4%;
}
