.modal-content {

}

.modal-content-card {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.modal-img-card {
background-size: cover !important;
background-position: center;
height: 200px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 35px;
font-weight: 900 !important;
text-transform: uppercase;
color: white;
}

.modal-img-card p {
font-size: 13px;
text-transform: none;
font-weight: 400 !important;
text-align: justify;
padding: 15px;
}

.map-card {
  border-right-style: none !important;
    position: relative;
    top: 0px;
}

.opening-card {
  text-align: center;
  background-color: white;
  font-size: 13px;
  text-transform: capitalize;
}

.note-card {
  text-align: center;
  font-size: 13px;
  color: white;
  background-color: #1F9283;
}

.note-card p {
margin-left: 15px;
margin-right: 15px;
margin-top: 5px;
text-align: justify;
margin-bottom: 0;
padding-bottom: 16px;
}

.containinfo {
  background-color: white;
}

.opentoday {
font-size: 12px;
color: #272822;
}

.showhours {
  height: 35px;
  width: 100%;
  background-color: #25AA99;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 13px;

}

.shownote {
  width: 100%;
  height: 35px;
  background-color: #1F9283;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
}

.list-unstyled {
  display: none;
  background: #25AA99;
  color: white;
  padding-top: 5px;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.notes {
  display: none;
}

.phone {
  color: #272822;
  background-color: white;
  padding: 9px;
  font-size: 13px;
}

.contactcard {
display: flex;
align-items: center;
justify-content: center;
color: white !important;
font-size: 13px;
position: relative;
background-color: white;
top: 0px;
}

.contactcard a {
color: #272822 !important;
padding-bottom: 10px;
}


.modal-body-card-card {
}

.card_photo {
  font-size: 14px;
  background-color: white;
  height: 50px;
}

.modal-title {
  text-align: center;
}

#add-card-button {
  height: 35px;
  background-color: #25AA99;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  position:relative;
  z-index:1000;
}

.modal-content {
  border-radius: 10px;
}

.btn-primary {
  height: 35px;
  background-color: #25AA99;
  color: white !important;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  position:relative;
  z-index:1000;
&:hover {
  background-color: #25AA99 !important;
}
}

.guide_photo {
  height: 40px;
}


