.modal-content {
  border-radius: 15px;
  overflow: hidden;
  display: flex;

}

.contactcard {
text-transform: lowercase;
font-size: 13px;
position: relative;
top: 10px;
}

.modal-img-card {
background-size: cover;
width: 60%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 35px;
font-weight: 900 !important;
text-transform: uppercase;
color: white;
}

.modal-img-card p {
font-size: 13px;
text-transform: none;
font-weight: 400 !important;
text-align: justify;
padding: 15px;
}

.modal-body-card {
}

.map-card {
  border-right-style: none !important;
    position: relative;
    top: 20px;
}

.opening-card {
  margin-top: 10px;
  text-align: center;
  background-color: white;
  font-size: 13px;
  text-transform: capitalize;
}

.note-card {
  text-align: center;
  font-family: 'Rancho', cursive;
  font-size: 19px;
  color: #5B5B5B;
  background-color: white;
}

.containinfo {
  background-color: white;
}

.opentoday {
font-size: 12px;
color: #272822;
}

.showhours {
  height: 30px;
  background-color: #25AA99;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
}

.list-unstyled {
  display: block;
}













