// #guideModal {
//   background-color: rgba(0,0,0,0.6);
//   -o-webkit-backdrop-filter: blur(10px);
// }

.pac-container {
    z-index: 1051 !important;
}

body.modal-open .supreme-container{
    // -webkit-filter: blur(1px);
    // -moz-filter: blur(1px);
    // -o-filter: blur(1px);
    // -ms-filter: blur(1px);
    // filter: blur(1px);
    transition: 1s;
}


.supreme-container {
  transition: 0.3s;
}

.has-error .help-block {
  display: block;
}
