.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.video-container i {
    position: relative;
    font-size: 40px;
    color: white;
    transform: rotate(90deg);
    bottom: -46%;
}

.homepage-hero-module {
  margin-bottom: -40px;
}
