.banner-guide-board {
  width: 100%;
  height: 500px;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nextguide{
  position: absolute;
  right: 10px;
  bottom: 5%;
  display: flex;
  top: 5%;
  align-items: center;
}

.previousguide {
  position: absolute;
  left: 10px;
}
