<!-- Cette vue n est pas utilisée  -->

<div class="banner-guide-board">
  <div>
    <%= image_tag(@friend.picture, class: "avatar") %>
    <%= @friend.first_name + "'s guideboard" %>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
    <div id="map-board" style="width: 100%; height: 50vh; position: center;"></div>
  </div>
</div>
<div class="container">
  <%= render 'shared/friendguides', guides: @guides %>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');

       handler.buildMap({
          provider: {
            scrollwheel: false,
            styles: mapStyle1
          },
          internal: { id: 'map-board' } }, function(){
          markers = handler.addMarkers(<%= raw @markersguide.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(2);
        });
      })
  </script>
<% end %>

