<div class="banner-guide-board">
<%= current_user.first_name + "'s guideboard"%>
</div>



<div class="wrapper-grey">
  <div class="container">
    <div id="map-board" style="width: 100%; height: 50vh; position: center; box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;"></div>
  </div>
</div>

<div class="container">
  <div class="create-guide">
  <button id="createg" type="button" class="btn btn-danger align-center" data-toggle="modal" data-target="#guideModal">
   Create a new guide
  </button> <br>
  <%= render 'shared/modal'%>
  </div>
  <%= render 'shared/guides', guides: @guides %>
</div>



<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');

       handler.buildMap({
          provider: {
            scrollwheel: false,
            styles: mapStyle1
          },
          internal: { id: 'map-board' } }, function(){
          markers = handler.addMarkers(<%= raw @markersguide.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(2);
        });
       $('[data-toggle="tooltip"]').tooltip({
           });
      })
  </script>
<% end %>
