<h3>Your guides</h3>


<% current_user.guides.each do |guide| %>
  <ul>
    <li>
    <p><%= link_to guide.name, guide_path(guide) %></p>
    <p><%= guide.description %></p>
    </li>
  </ul>
<% end %>
