<div class="banner-guide-board">
<%= current_user.first_name + "'s guideboards"%>
</div>

<div id="map-board" style="width: 100%; height: 50vh; position: center;"></div>



<div class="container">
  <div class="create-guide">
  <button id="createg" type="button" class="btn btn-danger align-center" data-toggle="modal" data-target="#guideModal">
   Create a new guideboard
  </button> <br>
  <%= render 'shared/modal'%>
  </div>
  <%= render 'shared/guides', guides: @guides %>
</div>



<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');

       handler.buildMap({
          provider: {
            scrollwheel: false,
            styles: mapStyle
          },
          internal: { id: 'map-board' } }, function(){
          markers = handler.addMarkers(<%= raw @markersguide.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(2);
        });
      })
  </script>
<% end %>
