<h3>Your guides</h3>

<div class="container">
  <%= render 'shared/card_guides' %>
</div>

<button type="button" class="btn btn-danger center-block" data-toggle="modal" data-target="#guideModal">
 Create my guide board
</button>

<%= render 'shared/modal' %>
