<html>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <%=link_to "http://www.takeawaytrips.com" do %>
              <%= image_tag attachments['banneremail.png'].url, :style => "width:100%; background-size: cover; margin:auto" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="text-center" style=" height: 2%; background-color: #F4CA79; display: block; position: relative">
    <p style="text-align: right; margin: auto; font-size: 10px">© Take Away Lab SAS</p>
    </div>
  </body>
</html>

